.sideMenu {
	-fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-border-style: solid;
	-fx-spacing:3px;
}

.cardBox{
	-fx-spacing:5px;	
}

.card {
	-fx-background-color: green;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-border-style: solid;
}