    /* Sidebar Styling */
    .side_anchorpane {
        -fx-background-color: #2c3e50;
        -fx-border-width: 2px;
        -fx-border-radius: 15px;
        -fx-background-radius: 15px;
        -fx-border-color: #2980b9;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 15, 0.5, 0, 5);
    }

    .inner_pane {
        -fx-background-color: #3498db;
        -fx-border-width: 0;
        -fx-border-radius: 15px;
        -fx-background-radius: 15px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 8, 0.5, 0, 2);
    }

    .side_button {
        -fx-background-color: #34495e;
        -fx-border-width: 0;
        -fx-border-radius: 15px;
        -fx-background-radius: 15px;
        -fx-text-fill: #ecf0f1;
        -fx-font-size: 14px;
        -fx-padding: 12px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.5, 0, 2);
        -fx-cursor: hand;
    }

    .side_button:hover {
        -fx-background-color: #2980b9;
        -fx-text-fill: #ffffff;
    }

    .side_button:pressed {
        -fx-background-color: #1a5276;
        -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 2);
    }

    /* Styling untuk Button 'Activated', 'Inactivated', dan 'Payment' */
.box_small_button{
    -fx-spacing:7px;
}

.button-action-small {
    -fx-background-color: #3498db;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
    -fx-spacing:10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.5, 0, 1);
}

.button-action-small:hover {
    -fx-background-color: #2980b9;
}

.button-action-small:pressed {
    -fx-background-color: #1a5276;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0, 0, 1);
}


    /* Title Styling */
    .member_manage_title_label {
        -fx-font-weight: bold;
        -fx-text-fill: white;
        -fx-font-size: 28px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0.7, 0, 2);
    }

    .title_pane {
        -fx-background-color: #2980b9;
        -fx-border-width: 0;
        -fx-border-radius: 15px;
        -fx-background-radius: 15px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0, 3);
    }

    /* Main VBox */
    .main_vbox {
        -fx-spacing: 20;
        -fx-padding: 20;
        -fx-background-color: #ecf0f1;
        -fx-background-radius: 15px;
    }

    .button {
        -fx-spacing: 20;
    }

    /* Button Action */
    .button_action {
        -fx-background-color: #2980b9;
        -fx-text-fill: #ecf0f1;
        -fx-background-radius: 15px;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-padding: 10px 20px;
        -fx-cursor: hand;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.5, 0, 2);
    }

    .button_action:hover {
        -fx-background-color: #3498db;
    }

    .button_action:pressed {
        -fx-background-color: #1a5276;
        -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 2);
    }

    /* Table Styling */
    .table-view {
        -fx-background-color: #ffffff;
        -fx-border-color: #bdc3c7;
        -fx-border-radius: 10px;
        -fx-padding: 10px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.5, 0, 2);
    }

    .table-view .column-header-background {
        -fx-background-color: #3498db;
    }

    .table-view .column-header, .table-view .column-header .label {
        -fx-text-fill: #000000;
        -fx-font-weight: bold;
    }

    .table-view .cell {
        -fx-padding: 8px;
        -fx-font-size: 13px;
        -fx-background-color: #f7f8f9;
    }

    /* Additional Styling */
    .scroll-pane {
        -fx-background-color: transparent;
        -fx-border-width: 0;
    }
